@theme {
    /* --color-alpha: #fa5c5c; */
    --color-light-base: #f5f5f5;
    --color-light-alpha: #ffffff;

    --color-dark-alpha: #0C0B0B;
    --color-dark-base: #0E0D0D;
    --color-dark-faded: #151515;
    /* solmarket */
    --color-alpha: #2F2FE4;
    --color-primary: #2F2FE4;
}

/* infinite scroll  */
@layer utilities {
    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }

    .animate-marquee {
        display: flex;
        width: max-content;
        animation: marquee 40s linear infinite;
    }

    .pause-on-hover:hover {
        animation-play-state: paused;
    }
}
